@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;600&display=swap');

/*============== variables===============  */

:root {
    --yelow: #f9ca24;
    --clr: #222327;
    --bg-color1: #ffffff;
    --bg-color2: #f75023;
    --bg-color3: #A64253;
    /* color 2*/
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito', 'Roboto', sans-serif;
    outline: none;
    border: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

*::selection {
    background: var(--yellow);
    color: #333;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: var(--bg-color2);
}

body {
    background: #111;
    overflow-x: hidden;
    padding-left: 30rem;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 30rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .head-resto img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    border: .7rem solid var(--bg-color2)
}

header .head-resto .name-resto {
    font-size: 3.5rem;
    color: var(--bg-color1);
}

header .head-resto .affi-name {
    font-size: 2rem;
    color: #eee;
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: var(--bg-color2);
    color: var(--bg-color1);
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF30jJtuDLfMxm0b4zbl828-TIjMtYqbLNiP48DQKvrgIWWoYk1EaD-TNHeRzHdDty5nY&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}


/* ======= Header end ====== */


/* ======= Section  start====== */

section {
    width: 100%;
    height: 100vh;
    /* border: 3px solid red;*/
}

.home-title {
    display: flex;
    /*border: 1px solid green;*/
    justify-content: center;
    margin: 10px 0px;
    font-size: 2.5rem;
    font-family: roboto, sans-serif;
    padding: 1.5rem 18%;
    color: var(--bg-color2);
}

.content-row {
    display: flex;
    min-height: 88%;
    align-items: center;
    /*border: 2px solid blue;*/
}

.container-col {
    flex-basis: 50%;
    padding: 0 3rem;
}

.container-col h1 {
    font-size: 8rem;
    /*font-size: 100px;*/
    font-family: Roboto;
    color: transparent;
    -webkit-text-stroke: 2px var(--bg-color2);
    margin-left: -10px;
    background-image: url(https://i.postimg.cc/y83nQ8Cv/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    /*
    
    line-height: 140px;
    
    */
}

@keyframes back {
    100% {
        background-position: 1500px 0;
    }
}

.container-col h3 {
    font-size: 2.5rem;
    padding: 1rem;
}

.container-col h3 span {
    font-size: 2rem;
    color: var(--bg-color2);
}

.container-col h5 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--bg-color2);
}

.container-col p {
    font-size: 1.5rem;
    padding: 0.75 0;
}


/*======== container-col card ============*/

.card {
    width: 250px;
    height: 300px;
    display: inline-block;
    /* border: 1px solid yellow;*/
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF30jJtuDLfMxm0b4zbl828-TIjMtYqbLNiP48DQKvrgIWWoYk1EaD-TNHeRzHdDty5nY&usqp=CAU);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
}

.card-1 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF30jJtuDLfMxm0b4zbl828-TIjMtYqbLNiP48DQKvrgIWWoYk1EaD-TNHeRzHdDty5nY&usqp=CAU);
}

.card-2 {
    background-image: url(https://i.pinimg.com/564x/21/33/7c/21337cc234c465b256c84e10422daaa1.jpg);
}

.card-3 {
    background-image: url(http://3.bp.blogspot.com/-lEQLuR4CHt8/VeC_ZHxHNjI/AAAAAAAACaQ/oybQFc3zP-A/w1200-h630-p-k-no-nu/20150828_220919.jpg);
}

.card-4 {
    background-image: url(https://producteurslaitiersducanada.ca/sites/default/files/styles/recipe_image/public/image_file_browser/conso_recipe/mac-cheese-with-broccoli.jpg.jpeg?itok=J9XcwFtj);
}

.card:hover {
    transform: translateY(-10px);
}


/* ======= Home home-box start====== */


/*=========  Griyo Ayisyen start ============*/

.main-griyo {
    background: powderblue;
    overflow-x: hidden;
    padding-left: 0;
    color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-family: sans-serif;*/
}

.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.back-content {
    transform: rotateY(180deg)
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}


/*button controller*/

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 40px;
    color: gray;
}


/* Paper stack order */

#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}


/*=========  Griyo Ayisyen end ============*/


/* ======= Responsive  mdia query start====== */

@media(max-width:1520px) {
    .card {
        width: 200px;
        height: 250px;
    }
}

@media(max-width:1320px) {
    .card {
        width: 150px;
        height: 200px;
    }
}

@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
    .home {
        padding: 1rem 4rem;
    }
}

@media(max-width:991px) {
    header {
        left: -120%;
    }
    #menu {
        display: block;
    }
    header.toggle {
        left: 0%;
    }
    body {
        padding: 0;
    }
}

@media(max-width:801px) {
    html {
        font-size: 50%;
    }
    .card {
        width: 100px;
        height: 150px;
    }
}

@media(max-width:580px) {
    .content-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-col {
        padding: 30px 0px;
    }
    .container-col h1 {
        display: flex;
        justify-content: center;
    }
    .container-col p {
        margin: 0 10px;
    }
}

@media(max-width:446px) {
    .home {
        padding: 0.5rem 2rem;
    }
}

@media(max-width:400px) {
    header {
        width: 100vw;
    }
    .card {
        align-items: center;
    }
}